* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
 
 body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 
 .container {
    text-align: center;
 }
 
 .cat {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: #a31820 4px solid;
    border-radius: 50%;
    padding: 10px;
    perspective: 1000px; /* Adds depth to the flip effect */
    display: inline-block;
    transition: transform 0.4s;
    transform-style: preserve-3d;
 }
 
 .cat:hover {
    transform: rotateY(180deg); /* Flips the image 180 degrees on hover */
 }
 
 h1 {
    color: #b51c24;
    font-size: 2rem;
    margin-bottom: 20px;
 }
 
 p {
    font-size: 1.2rem;
    text-align: justify;
    justify-self: center;
    color: #333;
    margin-bottom: 20px;
    word-wrap: break-word;
    max-width: 80%;
    position: relative;
 }
 
 a {
    color: #b51c24;
    text-decoration: none;
 }
 
 .form-container {
    display: relative;
    text-align: left;
    align-items: center;
    justify-self: center;
    background-color: #f1f1f1;
    padding: 30px;
    width: 35%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 }
 
 label {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
 }
 
 input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
 }
 input:focus{
      color: black; 
      border-color: #A10808; 
      outline: none;
  }
 
 .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
 }
 
 .search-btn {
    background-color: #b51c24;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 
 .search-btn {
    position: relative;
    bottom: 20px;
 }
 
 .return-btn {
    position: relative;
    top: 20px;
    color: #a31820;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 
 .search-btn:hover {
    background-color: #a31820;
 }
 
 .return-btn:hover {
    color: red;
 }
 
 .return-btn {
    margin-left: 10px;
 }
 